<h2>Tickets view component</h2>
<hr>

<div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>
    <div
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="this.dataservice.array"
      cdkDropList
      class="todo-list">

      <div *ngFor="let ticket of this.dataservice.array; let i = index">
      <div *ngIf="ticket.group=='todo'">
        <div cdkDrag class="example-box">
          <app-ticket [ticketNumber]="i" [ticket]="ticket"></app-ticket>
        </div>
      </div>
    </div>

    </div>
  </div>


  <div class="example-container">
    <h2>Processing</h2>
    <div
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="this.dataservice.array"
      cdkDropList
      class="processing-list">

      <div *ngFor="let ticket of this.dataservice.array; let i = index">
        <div *ngIf="ticket.group=='processing'">
          <div cdkDrag class="example-box">
            <app-ticket [ticketNumber]="i" [ticket]="ticket"></app-ticket>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="example-container">
    <h2>Finished</h2>
    <div
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="this.dataservice.array"
      cdkDropList
      class="finished-list">

      <div *ngFor="let ticket of this.dataservice.array; let i = index">
        <div *ngIf="ticket.group=='finished'">
          <div cdkDrag class="example-box">
            <app-ticket [ticketNumber]="i" [ticket]="ticket"></app-ticket>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
