.hoverObj {
  border: 1px solid #5b5b5b;
  position: fixed;
  left: 54%;
  top: 70px;
  size: auto;
  width: 500px;
  /*height: 360px;*/
  transform: translateX(-50%);
  border-radius: 15px;
  background-color: #bca1f2;

  display: block;
  z-index: 99999;
}

.switch {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0%;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.input {
  border: 1px solid #5b5b5b;
  font-size: large;
  position: relative;
  left: 50%;
  width: 460px;
  height: 45px;
  transform: translateX(-50%);
  border-radius: 15px;
  background-color: #f6f2ff;
}

.description {
  font-size: larger;
  min-height: 120px;
  position: relative;
  left: 50%;
  top: 15px;
  max-width: 460px;
  min-width: 460px;
  min-height: 120px;
  max-height: 200px;
  transform: translateX(-50%);
  border-radius: 15px;
  background-color: #f6f2ff;
}

.saveButton {
  position: relative;
  top: 20px;
  display: inline-block;
  width: 200px;
  height: 42px;
  background-color: #56377c;
  border: 1px solid #5b5b5b;
  color: #ffffff;
  border-radius: 7px;
}

.holder {
  margin-top: 15px;
  margin: 20px;
  margin-bottom: 35px;
}

.statusLabel {
  position: absolute;
  /*top: 35px;*/
  right: 85px;
  bottom: 27px;
  color: white;
}
