<div class="hoverObj">
  <div class="holder">
    <input #title class="input" type="text" placeholder="Support ticket title">
    <textarea #description class="description" placeholder="Input detailed description of your support ticket inside of this field..."></textarea>
    <button (click)="saveTicket(title, description, ticketStatus)" class="saveButton">Save ticket</button>
    <label class="statusLabel">Status</label>
    <label class="switch">
      <input #ticketStatus type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
</div>
