<div class="hoverObj">
  <div class="holder">
    <input #title class="input" placeholder="Support ticket title" type="text">
    <textarea #description class="description"
              placeholder="Input detailed description of your support ticket inside of this field..."></textarea>
    <button (click)="saveTicket(title, description)" class="saveButton">Save ticket</button>
    <label class="statusLabel">Status</label>
    <label class="switch">
      <input [(ngModel)]="ticketStatus" type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
</div>
