<div class="ticket">
  <div class="box">
    <div class="box1">
      <h1>{{ticket.ID}}</h1>
      <label class="switch">
        <input #status [(ngModel)]="ticket.status" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="box2">
      <input #title [(ngModel)]="ticket.title" style="position: relative; left: 0px">
      <input [(ngModel)]="ticket.dateTime" readonly style="position: relative; margin-left: 12%">
      <textarea #description [(ngModel)]="ticket.description"></textarea>
    </div>
    <div class="box3">
      <button (click)="deleteTicket()" class="deleteButton">×</button>
    </div>
  </div>
</div>

