.switch {
  position: relative;
  left: 0px;
  bottom: 0px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.ticket {
  /*text-align: center;*/
  margin-top: 40px;
  border-radius: 20px;
  background-color: #f5f1fe;
  height: 100px;
  width: 75%;
  border: 1px solid #5b5b5b;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  min-height: 100px;
  height: auto;
  z-index: 426;
}

.box {
  margin: 20px;
  height: 100%;
  display: flex;
}

.box1 {
  text-align: center;
  width: 10%;
}

.box2 {
  width: 85%;
}

.box3 {
  width: 5%;
}

input {
  width: 40%;
}

.deleteButton {
  height: 50px;
  width: 50px;
  position: center;
  margin-top: 35%;
  margin-right: 20%;
  background-color: #56377c;
  color: white;
  font-size: xx-large
}
